	.carousel{
		width:100%;
		height:440upx;
	}
	.super-hot{
		margin-top:12upx;
	}
	.hot-title-wapper{
		display: flex;
		flex-direction: row;
		padding:20upx;
	}
	.hot-icon{
		width:26px;
		height:26px;
	}
	.hot-title{
		font-size: 20px;
		margin-left:10upx;
	}
	.hot{
		width:100%;
		white-space:nowrap;
	}
	.single-poster{
		display: inline-block;
		margin-left:20upx;
	}
	.poster-wapper{
		display: flex;
		flex-direction: column;
	}
	.poster{
		width:200upx;
		height:270upx;
	}
	.movie-name{
		width:200upx;
		margin-top:10upx;
		font-size: 14px;
		font-weight:bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.hot-trailer{
		margin-top:10upx;
	}
	.hot-movies{
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content:space-between;
		padding:0 20upx 20upx 20upx;
	}
	.video-bar{
		width:350upx;
		height:220upx;
		margin-top:10upx;
	}
	.guess-u-like{
		margin-top:10upx;
	}
	.guess-u-like-content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding:30upx 20upx;
	}
	.guess-u-like-movie{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.like-movie-cover{
		width:180upx;
		height:240upx;
		border-radius:3%;
	}
	.movie-diretion{
		width:340upx;
		display: flex;
		flex-direction: column;
	}
	.movie-title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.movie-info{
		color:#ccc;
		font-size: 14px;
	}
	/* 点赞 */
	.movie-oper{
		width:140upx;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-left:dashed 2px #dbdbdb;
	}
	.icon-praise{
		width:40upx;
		height:40upx;
	}
	.praise-me{
		font-size: 14px;
		color: #feb932;
		padding:10upx 0;
	}
	.animation-opactity{
		font-weight:bold;
		opacity:0;
	}